* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: #D2D2D2;
}
.main-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    /*margin-left: 100px;*/
    margin-top: 20px;
}
h2 {
    color: #000000;
    text-decoration: underline;
}
p {
    margin-top: 10px;
}