* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
    background-color: #D2D2D2;
}
html {
    scroll-behavior: smooth;
}

/* For Header */
/*header {*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    height: 100px;*/
/*}*/
/*.logo {*/
/*    width: 50%;*/
/*}*/
/*.head-img {*/
/*    height: 100%;*/
/*    width: 20%;*/
/*    display: none;*/
/*}*/
/*ul {*/
/*    display: flex;*/
/*    list-style-type: none;*/
/*    border-bottom: 2px solid black;*/
/*}*/
/*ul li a {*/
/*    padding: 0 15px;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    display: inline-block;*/
/*}*/
/*li a::after {*/
/*    content: '';*/
/*    display: block;*/
/*    height: 4px;*/
/*    width: 0;*/
/*    background: #000000;*/
/*    transition: all .5s;*/
/*}*/
/*li a:hover::after {*/
/*    width: 100%;*/
/*}*/

/* For main */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
     height: calc(99vh - 100px);
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 80vh;
    border-radius: 7px;
}
.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 100%;
}
.container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 35%;
    background-color: whitesmoke;
    border: 1.5px solid black;
}
#error {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    padding-left: 15px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
}
form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.h2-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8vh;
}
.h2 {
    margin-left: 35px;
    text-decoration: underline;
}
.for-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    width: 100%;
}
.input-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 45px;
    background-color: transparent;
    border-bottom: 1.5px solid grey;

}
/* .fa-solid .fa-envelope {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 30px;
    font-size: 18px;
    padding-left: 8px;
} */
.input {
    height: 100%;
    width: 320px;
    font-size: 13px;
    border-radius: 6px;
    font-size: 16px;
    padding-left: 10px;
    background-color: transparent;
    outline: none;
    border: 0;
}
.signup-button {
    width: 85%;
    height: 40px;
    border-radius: 6px;
    background-color: #3A3A3A;
    color: #FFFFFF;
    font-size: 14px;
    outline: 0;
    border: 0;
    cursor: pointer;
}
.signup-button:hover {
    color: black;
    background-color: #C7C8CC;
}
.for-login {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
}
.for-login a {
    text-decoration: none;
    margin-left: 4px;
    color: black;
}
@media (max-width: 1280px) {
    .main-container {
        justify-content: center;
        align-items: center;
    }
    .container-right {
        width: 70%;
    }
    .container-left {
        display: none;
    }
}

@media (max-width: 654px) {
    form {
        justify-content: space-between;
    }
    .main-container {
        justify-content: center;
        align-items: center;
    }
    .container-right {
        width: 100%;
        height: 100%;
    }
}
@media (max-width: 449px) {
    form {
        justify-content: space-between;
    }
    .input-fields {
        width: 80%;
    }
    .input {
        width: 80%;
    }
}