<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="icon" sizes="200x200" th:href="@{/images/beverage header.png}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/password_reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script th:src="@{/javascript/header.js}" defer></script>
    <script th:src="@{/javascript/request_password_reset.js}" defer></script>

</head>
<body>
 <header th:replace="~{/fragments/header.html}"></header>
<main>
    <div id="error"></div>
    <div class="message-div">
         <p th:text="${message}"></p>
    </div>
    <div class="main-container">
        <div class="container-left">
            <img class="container-left-logo" th:src="@{/images/beverage header.png}" alt="">
        </div>
        <div class="container-right-form">
            <form id="request-form" th:action="@{/user/request-password-reset}" method="post">
                <div class="h2-text">
                    <h2 class="h2">
                        Reset Form
                    </h2>
                </div>
                <div class="form-fields">
                    <div class="input-fields">
                        <i class="fa-solid fa-envelope"></i>
                        <input class="input" type="email" id="email" name="email" placeholder="Email-address...">
                    </div>
                    <button class="reset-button" type="submit">Send Verification</button>
                </div>
                <div class="for-forgot-password">
                    <h5>Back to Login?<a th:href="@{/login}">Click here...</a></h5>
                </div>
            </form>
        </div>
    </div>
</main>
 <footer th:replace="~{/fragments/footer.html}"></footer>
</body>
</html>

